<div id="footer">
<hr class="hidecss" />
<p>Back to the <a href="http://www.debian.org/">Debian Project homepage</a>.</p>
<hr/>
<div id="fineprint">
  <p>To report a problem with the web site, e-mail <a href="http://www.debian.org/mailto:debian-www@lists.debian.org">debian-www@lists.debian.org</a>. For other contact information, see the Debian <a href="http://www.debian.org/contact">contact page</a>.</p>
<p>
Last Modified: Sun, Feb 21 14:06:46 UTC 2010
  <br />
  Copyright &copy; 1997-2010
 <a href="http://www.spi-inc.org/">SPI</a>; See <a href="http://www.debian.org/license" rel="copyright">license terms</a><br />
  Debian is a registered <a href="http://www.debian.org/trademark">trademark</a> of Software in the Public Interest, Inc.
</p>
</div>
</div> <!-- end footer -->
</div>
